/*Styling for this page is simply controlling the layout and sizing of the elements and text*/

body{
    display: flex;
    flex-direction: column;
   
}

/* This is styling for GRAPHICAL COMPONENT 3 */
section {    
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

/* This is styling for GRAPHICAL COMPONENT 3 */
img {
   
    max-width: 45vw;

}

/* This is styling for GRAPHICAL COMPONENT 3 */
h2{
    margin: 2vh 0;
}

/* This is styling for GRAPHICAL COMPONENT 3 */
p{
    line-height: 2;
    font-size: large;

}

/* This is styling for GRAPHICAL COMPONENT 3 */
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 1vh;
    
    
}

/* This is styling for GRAPHICAL COMPONENT 3 */
figcaption{
    margin-top: 2vh;
    max-width: 45vw;
    padding-left: 15px;
}

/*TABLET - no layout/styling changes required*/
@media only screen and (min-width: 400px) and (max-width: 849px){
h2 {
    font-size: 2rem
}

p, figcaption {
    font-size: 1.5rem;
}

}

/*DESKTOP view shows the images next to each other and with the content centred on the page
Also some adjustments for font sizes and a limit to how large the images can become on wider screen sizes*/
@media only screen and (min-width: 850px){
       h2 {
        font-size: 2rem
    }
    
    p {
        font-size: 1.2rem;
    }

    figcaption {
        font-size: 0.9rem;
    }
    
    img {  
        max-width: 250px;   
    }

    figure{
        display: flex;
        flex-direction: column;        
    }

    section{
        align-items: center;
        max-width: 650px;
    }

    section:last-of-type {
        flex-direction: row;
    }

}